*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:#063861 ;
}          
.nav{
    background-color:#e27676 ;
    height: 50px;
    width: 100%;
}   
.content img{
    min-height: 320px;
    height: 50vw;
    text-align: center;
    
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5rem;
}
.content .h h1{
    padding-right: 5rem;  
    font-size: 100px;
}
.content .h h2{
    padding-right: 5rem;   
    font-size: 50px;    
}

































































