<!--<div class="content">-->
<!--  <div class="img">-->
<!--    <img src="assets\images\DESKCUBE.png" alt="">-->
<!--  </div>-->
<!--  <div class="h">-->
<!--    <h1>-->
<!--      <font color="#e27676">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DESK</font>-->
<!--      <font color="#ffffff">CUBE</font>-->
<!--    </h1>-->
<!--    <li></li><h2>-->
<!--    <font color="#ffffff">"Learning</font>-->
<!--    <font color="#e27676"> & </font>-->
<!--    <font color="#ffffff">Share Experience"</font>-->
<!--  </h2>-->
<!--  </div>-->
<!--</div>-->


<div
  style="margin-top: 5%; text-align: center"
  fxLayout="row"
  fxLayoutAlign="space-around"
  fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="start center">
  <picture>
    <source srcSet="assets/images/DESKCUBE.webp" type="image/webp"/>
    <img src="assets/images/DESKCUBE.png" alt="deskcube-box" width="280" height="323" loading="lazy">
  </picture>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    class="description">
    <h1>DESK<span class="cube">CUBE</span></h1>
    <h2>"Learning <span class="and">&</span> Share Experience"</h2>
    <a href="https://www.eventpop.me/e/11968/deskcube" target="_blank">
      <button mat-raised-button>Register</button>
    </a>
  </div>
</div>
