<div fxLayout="column" fxLayoutAlign="center center">
  <div
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="space-around center"
    class="title">
    <div class="description">
      <h1>
        <span style="color: snow;">"</span>DESK<span
        style="color:snow;">CUBE"
                </span>
      </h1>
      <h3>คืออะไร?</h3>
      <p>
        เป็นกิจกรรมสร้างเสริมประสบการณ์
        ทางด้านเทคโนโลยีให้กับน้องๆ โดย
        จะเน้นไปที่การทำความรู้จักกับ IT และ
        เเนวทางการนำไปใช้ในชีวิตประจำวัน
        ทำให้น้องๆ ที่ได้เข้าร่วม
        สามารถนำความรู้ไปสรรค์สร้างนวัตกรรมใหม่ๆ ได้
      </p>
    </div>
    <div class="description" fxLayout="row" fxLayoutAlign="center center">
      <picture>
        <source srcSet="assets/images/what-deskcube.avif" type="image/avif"/>
        <source srcSet="assets/images/what-deskcube.webp" type="image/webp"/>
        <img src="assets/images/what-deskcube.png" width="360" height="331" alt="what-deskcube-image" loading="lazy">
      </picture>
    </div>
  </div>
</div>
