<div class="container">
  <app-home-cover></app-home-cover>
  <app-home-what></app-home-what>
  <app-home-objective id="objective"></app-home-objective>
  <app-home-speakersclass></app-home-speakersclass>
  <app-home-calendar id="agenda"></app-home-calendar>
  <app-home-location id="location"></app-home-location>
  <app-home-pricing  id="pricing"></app-home-pricing>
</div>

<!--<app-home-cover></app-home-cover>-->
<!--<app-home-what></app-home-what>-->
<!--<app-home-objective id="objective"></app-home-objective>-->
<!--<app-home-calendar id="agenda"></app-home-calendar>-->
<!--<app-home-location id="location"></app-home-location>-->
<!--<app-home-pricing  id="pricing"></app-home-pricing>-->
