.footer {
  position: absolute;
  width: 100%;
  margin-top: 50px;
  background: var(--my-canary);
  padding-bottom: 5px;
}

p {
  font-size: 16px;
  margin-top: 5px;
}
h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.iconfb:hover {
  opacity: 0.7;
}
.iconfb {
  width: 15%;
  height: auto;
}

.iconig {
  width: 15%;
  height: auto;
}
.iconig:hover {
  opacity: 0.7;
}

img {
  margin-top: 10px;
  width: 20vw;
  max-width: 120px;
  height: auto;
}
.text {
  text-align: center;
  font-size: 16px;
  margin-top: -5px;
}
