<div
  class="footer"
  fxLayout="row"
  fxLayoutAlign="space-around start">
    <div class="title">
      <h3>ติดต่อข้อมูลเพิ่มเติม</h3>
      <p>เบอร์โทรศัพท์: 090-548-2666</p>
      <div>
        <a href="https://www.facebook.com/good.geek.community" target="_blank">
          <img class="iconfb" src="assets/images/iconfacebook.png" width="32" height="32" alt="icon#1">
        </a>
        <a href="https://www.instagram.com/goodgeek.club/" target="_blank">
          <img class="iconig" src="assets/images/iconinstagram.png" width="32" height="32" alt="icon#2">
        </a>
      </div>
    </div>
    <div class="logo-text">
      <picture>
        <source srcSet="assets/images/logo-goodgeek.avif" type="image/avif"/>
        <source srcSet="assets/images/logo-goodgeek.webp" type="image/webp"/>
        <img src="assets/images/logo-goodgeek.png" width="120" height="114" alt="location-image" loading="lazy">
      </picture>
      <p class="text">goodgeek.club</p>
    </div>
</div>
