<div class="title">
    <h2>"พิธีกรพิเศษ"</h2>
    <mat-icon
      class="header-icon"
      aria-hidden="false"
      aria-label="list item">campaign</mat-icon>
</div>
<div class="container">
    <div class="row">
        <div class="card">
            <picture>
            <source srcset="assets/images/speakers-class/ohm.avif" type="image/avif"/>
            <source srcset="assets/images/speakers-class/ohm.webp" type="image/webp"/>
            <img src="assets/images/speakers-class/ohm.png" alt="image_ohm" width="210px">
        </picture>
            <h2>ชื่อ : พี่โอม Milerdev</h2>
            <p>ตำแหน่ง : Founder Milerdev <br>
                Experience : 
                Content Creator, 
                Full-stack developer & Entrepreneur
            </p>
        </div>
        <div class="card">
            <picture>
                <source srcset="assets/images/speakers-class/boy.avif" type="image/avif"/>
                <source srcset="assets/images/speakers-class/boy.webp" type="image/webp"/>
                <img src="assets/images/speakers-class/boy.png" alt="image_boy">
              </picture>
            <h2>ชื่อ : พี่บอย Bigdata RPG</h2>
            <p>ตำแหน่ง : Senior DS/AI Researcher <br>
                Experience : 
                Bank Industry: since 2018 , 
                Logistic Platform: since 2021 , <br>
                Bank and Travel since 2021
            </p>
        </div>
    </div>
</div>