<div fxLayout="column" fxLayoutAlign="center center">
  <h2>"สถานที่จัดงาน"</h2>
  <mat-icon
    class="header-icon"
    aria-hidden="false"
    aria-label="list item">place</mat-icon>
</div>
<div
  fxLayout="row"
  fxLayoutAlign="space-around start"
  fxLayout.lt-md="column"
  fxLayoutAlign.lt-md="start center"
  fxLayoutGap="2rem"
  fxLayoutGap.lt-md="1rem"
  class="objective-tile">
  <div class="description">
    <h3>Gather Town</h3>
    <p>
      แอปประชุมออนไลน์ที่อยู่ในรูปแบบเกม Simulation หรือเกมแนวจำลองสร้างสถานการณ์ต่าง ๆ ที่ให้ผู้เล่นได้เข้าสวมบทบาทเป็น Avatar อยู่ในสถานการณ์นั้น ๆ
      และสร้างเหตุการณ์สมมติได้ ภายในเกมจะดีไซน์ตัวละคร ฉาก ให้มีลักษณะคลาสสิกด้วยความละเอียดแบบ 8-bit เพื่อให้ผู้เล่นรู้สึกเข้าถึงได้ง่าย และเพลิดเพลินเหมือนเล่นเกมทั่วไป
    </p>
  </div>
  <div fxFlexAlign="center" class="description">
    <picture>
      <source srcSet="assets/images/location-goodgeek.avif" type="image/avif"/>
      <source srcSet="assets/images/location-goodgeek.webp" type="image/webp"/>
      <img src="assets/images/location-goodgeek.png" alt="location-image" loading="lazy">
    </picture>
  </div>
</div>
