h2 {
  margin-bottom: 5px;
}
h3 {
  margin-top: 0;
}
.description {
  width: 100%;
  min-width: 320px;
  max-width: 540px;
}
img {
  width: 100%;
  height: auto;
  margin-top: 20px;
}
.objective-tile {
  margin-top: 30px;
}
