.example-spacer {

}
.logo img {

  padding: 1em;
  max-width: 10em;
  min-width: 5em;
}
.app-toolbar{
  background-color: var(--my-dark-midnight);
  box-shadow: 0 3px 5px -1px #0003;
  position: fixed;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0!important;
  z-index: 1000!important;
}
.menu a {
  padding: 2rem;
  color: snow;
  text-decoration: none;
}

mat-menu {
  margin-top: -100px;
  z-index: 2000;
}
