
<mat-toolbar color="primary" class="app-toolbar">
  <div class="logo">
    <picture>
      <source srcSet="assets/images/logo.webp" type="image/webp"/>
      <img routerLink="/" src="assets/images/logo.png" alt="deskcube-logo" loading="lazy">
    </picture>
  </div>
  <div class= "menu" fxHide.lt-md>
    <a *ngFor="let link of links"
       [routerLink]="link.location"
       [fragment]="link.hashtag">{{link.title}}</a>
  </div>
  <span class="example-spacer"></span>
  <div fxHide.gt-sm>
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="menu" class="menu-icon-button">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #beforeMenu="matMenu">
  <ng-template matMenuContent>
    <button
      mat-menu-item
      *ngFor="let link of links"
      [routerLink]="link.location"
      [fragment]="link.hashtag"
      class="menu-button">{{link.title}}</button>
  </ng-template>
</mat-menu>
