<div class="app-objective">
    <div class="title">
        <h2>"วัตถุประสงค์"</h2>
        <mat-icon
          class="header-icon"
          aria-hidden="false"
          aria-label="list item">checklist</mat-icon>
    </div>
    <div class="items">
        <div class="item" *ngFor="let item of items">
            <div class="image">
              <picture>
                <source [srcset]="item.image.replace('.png', '.avif')" type="image/avif" />
                <source [srcset]="item.image.replace('.png', '.webp')" type="image/webp" />
                <img [src]="item.image" width="280" height="275" alt="deskcube-box" loading="lazy">
              </picture>
            </div>
            <div class="description">
                <p>{{item.text}}</p>
            </div>
        </div>
    </div>
</div>
