<div fxLayout="column" fxLayoutAlign="center center">
  <h2>"ตารางเวลา"</h2>
  <mat-icon class="header-icon" aria-hidden="false" aria-label="list item">event_available</mat-icon>
  <app-home-calendar-table title="11 ธันวาคม 2564" [dataSource]="day1"></app-home-calendar-table>
  <div style="height: 20px"></div>
  <app-home-calendar-table title="12 ธันวาคม 2564" [dataSource]="day2"></app-home-calendar-table>
  <div class="tail">
    <a routerLink="/speakers">
      รายนามวิทยากร →
    </a>
  </div>
</div>
