mat-card {
  width: 80%;
}
app-home-calendar-table {
  width: 100%;
}
.tail {
  margin-top: 10px;
  /*margin-right: 20px;*/
  width: 80%;
  text-align: right;
}
.tail a {
  font-size: 20px;
  color: snow;
}
.tail mat-icon {
  font-size: 18px;
}
