<div class="card">
  <div class="head">
    <picture>
      <source [srcset]="(profile?.avatarUrl  || defaultImg).replace('.png', '.avif')" type="image/avif"/>
      <source [srcset]="(profile?.avatarUrl || defaultImg).replace('.png', '.webp')" type="image/webp"/>
      <img [src]="profile?.avatarUrl || defaultImg" alt="speaker-img" loading="lazy">
    </picture>
    <h2>{{profile?.name || '-'}}</h2>
    <hr>
  </div>
  <div class="content">
    <div class="list">
      <h3>ตำเเหน่ง</h3><p>{{profile?.position || '-'}}</p>
      <h3>Experience - ประสบการณ์ อื่นๆ</h3><p>{{profile?.exp || '-'}}</p>
      <h3>TOPICS - หัวข้อ</h3><p>{{profile?.topic || '-'}}</p>
    </div>
  </div>
</div>
