
.item {
  width: 20em;
  max-width: 360px;
  height: 20em;
  background-color: var(--my-canary);
  border-radius: 1em;
  text-align: center;
}
h3 {
  font-size: 48px;
}
p {
  margin-top: -24px;
}
button {
  width: 80%;
  height: 54px;
  border-radius: 20px;

  color: var(--my-dark-midnight);
  font-size: 24px;
  font-weight: 800;

  margin-bottom: 30px;
}
