<div fxLayout="column" fxLayoutAlign="center center">
    <h2>"บัตรร่วมงาน"</h2>
    <mat-icon class="header-icon" aria-hidden="false" aria-label="list item">sell</mat-icon><br>
</div>
<div class="container" fxLayout="row" fxLayoutAlign="space-around start" fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="start center" fxLayoutGap="2rem" fxLayoutGap.lt-md="1rem">
    <div class="item-1">
        <h3>Free</h3>
        <p>สำหรับผู้สมัคร 5 ท่านแรก</p>
        <button mat-raised-button>MORE</button>
    </div>
    <div class="item-2">
        <h3>159</h3>
        <p>ทำภารกิจพิเศษ</p>
        <button mat-raised-button>MORE</button>
    </div>
    <div class="item-3">
        <h3>199</h3>
        <p>เข้าร่วมกิจกรรมแบบไร้เงื่อนไข</p>
        <button mat-raised-button>MORE</button>
    </div>
</div>